<%- include("partials/header"); -%>

<h1>Compose</h1>
<form action="/compose" method="post">
    <div class="input-group mb-3">
        <label class="form-label">Title</label>
        <input class="form-control" size="160" type="text" name="postTitle">
    </div>
    <div class="input-group">
        <label class="form-label">Post</label>
        <textarea class="form-control" cols="160" rows="6" name="postText"></textarea>
    </div>
    <button class="btn btn-primary btn-publish" type="submit" value="button">Publish</button>
</form>

<%- include("partials/footer"); -%>